{% extends 'websiteapp/base.html' %}

{% load static %}

{% block content %}
<header id="header_about" class="{% if theme == 'dark' %}bg-dark{% else %}bg-light{% endif %}">
    <div class="container text-center">
        {% if language == 'fr' %}Je suis la page 'à propos'
        {% else %}I am the about page.
        {% endif %}
    </div>
</header>
<main class="{% if theme == 'dark' %}bg-dark{% else %}bg-light{% endif %}">
    <div class="container">
        {% if language == 'fr' %}Ici en français. 
        {% else %}Here in english.
        {% endif %}
    </div>
</main>
{% endblock %}
