{% extends 'websiteapp/base.html' %}

{% load static %}

<!-- main -->
{% block main %}
<!-- Links -->
<!-- About -->
<a href="{% url 'about' %}" class="btn {{ btn_class }} col-md-8 mx-auto text-center" role="button">
    <h4  class="text-danger">
        {{ navbar_items.0 }}
    </h4>
    <p>
        {{ main_texts.0 }}
    </p>
</a>
<!-- Portfolio -->
<a href="{% url 'portfolio' %}" class="btn {{ btn_class }} col-md-8 mx-auto" role="button">
    <h4 class="text-danger">
        {{ navbar_items.1 }}
    </h4>
    <p>
        {{ main_texts.1 }}
    </p>
</a>
<!-- Blog -->
<a href="{% url 'blog' %}"  class="btn {{ btn_class }} col-md-8 mx-auto" role="button">
    <h4 class="text-danger">
        {{ navbar_items.2 }}
    </h4>
    <p>
        {{ main_texts.2 }}
    </p>
</a>
<!-- Contact -->
<a href="{% url 'contact' %}"  class="btn {{ btn_class }} col-md-8 mx-auto" role="button">
    <h4 class="text-danger">
        {{ navbar_items.3 }}
    </h4>
    <p>
        {{ main_texts.3 }} 
    </p>
</a>
{% endblock %}
<!-- -->
