{% extends 'websiteapp/base.html' %}

{% load static %}

<!-- main -->
{% block main %}
<p class="col-md-8 mx-auto">
	Lorem ipsum dolor sit amet.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit reiciendis.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, iure..
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ducimus optio eligendi!.
	Lorem ipsum dolor sit amet, consectetur adipisicing.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit reiciendis, pariatur dolorem accusamus culpa
</p>
{% endblock %}
<!-- -->
