{% extends 'websiteapp/base.html' %}

{% load static %}

{% block content %}
<header id="header_mentions" class="{% if theme == 'dark' %}bg-dark{% else %}bg-light{% endif %}">
	<div class="container text-center">
		<h1>
    		{% if language == 'fr' %}Mentions légales. 
    		{% else %}Legal notices.
    		{% endif %}
    	</h1>
    </div>
</header>
<main id="main_mentions" class="{% if theme == 'dark' %}bg-dark{% else %}bg-light{% endif %}">
	<div class="container">
		<p>
    		{% if language == 'fr' %}Ici les mentions 
    		{% else %}Here the notices. 
    		{% endif %}
    	</p>
    </div>
</main>
{% endblock %}
