{% load static %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg {{ bg_class }} {{ navbar_class }}">
    <!-- Logo -->
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'websiteapp/img/logo.png' %}" class="w-25" alt="Logo">
    </a>
    <!-- -->
    <!-- Responsive button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- -->
    <!-- Items -->
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto text-center">
                {% for item in navbar_items %}
                    <li class="nav-item">
                        <a class="nav-link {% if item.link_name == page.link_name %}
                            text-danger
                        {% endif %}" href="{% url item.link_name %}">
                            {% if item.link_name == "index" %}
                                <i class="fa fa-home"></i>
                            {% else %}
                                {{ item.title }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- -->
</nav>
<!-- -->
