{% extends 'websiteapp/base.html' %}
{% load static %}

<!-- main -->
{% block main %}
{% for category in categories %}
    <!-- Category -->
    <div id="{{ category.name }}" class="container">
        <h4 class="text-danger text-center">
            {{ category.name }}
        </h4>
        <div class="row">
            <!-- Posts -->
            {% for post in posts %}
                {% if post.category == category %}
                    <!-- Post -->
                    <div class="col-md-6">
                        <div class="card {{ bg_class }}">
                            <!-- Image -->
                            <img class="card-img-top w-75 mx-auto" src="{{ post.image.url }}" alt="Card image cap">
                            <div class="card-body">
                                <!-- Title -->
                                <h5 class="card-title text-center">
                                    {{ post.title }}
                                </h5>
                                <!-- Date -->
                                <h6 class="card-subtitle mb-2 text-center">
                                    {{ post.date|date:"j F Y" }}
                                </h6>
                                <!-- Content -->
                                <p class="card-text text-left">
                                    {{ post.content|safe|truncatechars:200 }}
                                </p>
                                <!-- Button Read more -->
                                <div class="text-center">
                                    <a href="{% url 'blog' %}{{ post.id }}/" class="btn btn-danger">
                                        {{ btn_card_text }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% endblock %}
<!-- -->
