{% extends 'websiteapp/base.html' %}

{% load static %}

{% block content %}
<header id="header_blog" class="{% if theme == 'dark' %}bg-dark{% else %}bg-light{% endif %}">
    <div class="container text-center">
        {% if language == 'fr' %}Je suis le blog 
        {% else %}I am the blog page.
        {% endif %}
    </div>
</header>
<main class="{% if theme == 'dark' %}bg-dark{% else %}bg-light{% endif %}">
    <div class="container">
        {% if language == 'fr' %}Ici en français. 
        {% else %}Here in english.
        {% endif %}
    </div>
</main>
{% endblock %}
