{% extends 'websiteapp/base.html' %}

{% load static %}

<!-- main --> 
{% block main %}
<!-- Post -->
<div class="col-md-7 mx-auto">
    <div class="card {{ bg_class }}">
        <!-- Image -->
        <img class="card-img-top w-75 mx-auto" src="{{ post.image.url }}" alt="Card image cap">
        <div class="card-body">
            <!-- Text -->
            <p class="card-text text-left">
                {{ post.content|safe }}
            </p>
            <!-- Date -->
            <h6 class="card-subtitle mb-2 text-right">
                {{ post.date|date:"j F Y" }}
            </h6>
        </div>
        <!-- Comments -->
        <div class="card-body">
            <hr align="center" width="100%">
            <h5>
                {{ titles.2 }}
            </h5>
            {% if comment_send is True %}
                <!-- Confirm send -->
                <div class="alert alert-warning text-center mx-auto">
                    {{ messages.0 }}
                </div>
            {% endif %}
            {% if comments.count == 0 %}
                <!-- No comment -->
                <div class="alert alert-warning text-center">
                    {{ messages.1 }}
                </div>
            {% else %}
                <!-- Comments -->
                {% for comment in comments %}
                    <!-- Comment --> 
                    <div class="row comment-saved">
                        <!-- Author -->
                        <strong class="col-md-3 text-left">
                            {{ comment.author_name}}
                        </strong>
                        <!-- Text -->
                        <i class="col-md-6 my-auto">
                            {{ comment.text|linebreaks }}
                        </i>
                        <!-- Date -->
                        <small class="col-md-3 my-auto text-right">
                            {{ comment.date }}
                        </small>
                    </div>
                {% endfor %}                   
            {% endif %}
            <hr align="center" width="100%">
            <!-- Form -->
            <h5>
                {{ titles.3 }}
            </h5>
            <form id="comment-form" role="form" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-danger" type="submit">
                    {{ btn_comment }}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
<!-- -->
