{% extends 'websiteapp/base.html' %}

{% load static %}

<!-- main --> 
{% block main %}
<!-- Project -->
<div class="col-md-7 mx-auto">
    <div class="card {{ bg_class }}">
        <!-- Image -->
        <img class="card-img-top w-75 mx-auto" src="{{ project.image.url }}" alt="Card image cap">
        <div class="card-body text-justify">
            <!-- Title -->
            <h5 class="card-title text-center">
                {{ project.subtitle }}
            </h5>
            <!-- Date -->
            <h6 class="card-subtitle mb-2 text-center">
                {{ project.date|date:"F Y" }}
            </h6>
            <!-- Text -->
            <p class="card-text">
                {{ project.description|safe }}
            </p>
            <!-- Links -->
            <div class="text-center row">
                <!-- Button --> 
                <a href="{{ project.site_link }}" class="btn btn-danger col-md-2 col-6 mx-auto" onclick="window.open(this.href);  return false;">
                    {{ btn_card_text }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- -->
