html {
    position: relative;
    min-height: 100%;
}


a:focus {
    outline:0;
}

.bg-dark {
    background-color: black !important;
    color: white; 
}

.bg-light {
    background-color: white !important;
    color: black;
}


/* NAVBAR */

.navbar-nav {
    font-size: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar .navbar-nav .active > .nav-link {
    color: red;
}

.navbar .navbar-nav .nav-link:hover {
    color:#ff9582;
}

.navbar .navbar-nav .nav-link:focus{
    color: red;
}


/* FOOTER */

footer {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

footer.bg-dark .fa-github {
    color: white;
}

footer.bg-light .fa-github {
    color: black;
}


/* HEADER */

header {
    padding-top: 10px;
    padding-bottom: 10px;
}

header.bg-dark {
    background-color: #515151 !important;
}

header.bg-light {
    background-color: #cfcfcf !important;
}

header ul {
    margin-left: -15px;
    font-size: 20px;
}

header ul li {
    display: inline-block;
    list-style: none;
    padding-right: 20px;
}

header .alert {
    font-size: 15px;
}


/* MAIN */
main {
    padding : 25px 10px 50px 10px;
}

main .container{
    margin-bottom: 35px;
    padding: 10px;
    border-radius: 10px;
}

main.bg-dark .container{
    background-color: #515151 !important;
}

main.bg-light .container{
    background-color: #cfcfcf !important;
}

main .card {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

main .card img {
    border-radius: 10px;
    border: 1px solid black;
}

main.bg-dark .card,
main.bg-dark .card img {
    border-color: white;
}

main .card .card-body {
    border-radius: 10px;
    margin: 15px 10px 10px 10px;
}

main.bg-dark .card .card-body {
    background-color: #515151 !important;
}

main.bg-light .card .card-body {
    background-color: #cfcfcf !important;
}

main .card .card-body .btn {
    border-radius: 10px;
}

main .card .card-body .row {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

main .card .card-body .row p {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

main hr {
    border-top: 2px solid black;
}


 /* FORMS */

form textarea, form input{
    text-indent:5px;
}

form textarea {
    width: 100%;
}

.bg-dark form textarea, .bg-dark form input {
    background-color: black;
    color: white;
    border: 1px solid white;
}