html {
    position: relative;
    min-height: 100%;
}

a:focus {
    outline:0;
}

.btn {
    white-space:normal !important;
}


/**/
/* BACKGROUND COLORS */

/* NAVBAR */
nav.bg-dark {
    background-color: black !important;
}

nav.bg-light {
    background-color: white !important;
}

/* FOOTER HEADER*/
footer.bg-light, header.bg-light {
    background-color: #d5d5d5 !important;
}

footer.bg-light .fa-github {
    color: black;
}

footer.bg-dark .fa-github {
    color: white;
}

/* MAIN */
body.bg-dark, body.bg-dark .comment-saved,
body.bg-dark form textarea, body.bg-dark form input {
    background-color: #515151 !important;
    color: white;
}

body.bg-light, body.bg-light .comment-saved,
body.bg-light form textarea, body.bg-light form input{
    background-color: #cecece !important;
}

main hr {
    border-top: 1px solid white;
}

main .card, .comment-saved, form textarea, form input, main a.btn {
    border: 1px solid white;    
    border-radius: 5px;
}

main .card a.btn  {
    border: none;
}

body.bg-light .card, body.bg-light .comment-saved, body.bg-light hr,
body.bg-light form textarea, body.bg-light form input {
    border-color: black;
}
/**/


/**/
/* SIZES POSITIONS */

/* NAVBAR HEADER*/
.navbar-nav, header ul {
    font-size: 20px;
}

header .alert {
    font-size: 15px;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
}

header ul li {
    display: inline-block;
    padding: 5px;
}

/* FOOTER*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
}

/* MAIN */
main {
    padding : 30px 10px 175px 10px;
}

@media (min-width: 768px) {
    main {
        padding-bottom: 102px;
    }
}

main a.btn {
    margin-bottom: 35px;
    padding : 10px 10px 10px 10px;
}

main .card, main .card a.btn {
    margin-bottom: 5px;
}

main .card {
    padding-top: 10px;
}

.comment-saved, form textarea, form input {
    margin: 3px;
    padding: 3px;
}

form textarea, form input {
    text-indent:5px;
}

form input {
    min-width: 50%;
}

form textarea {
    width: 100%;
}
/**/
