{% extends 'websiteapp/base.html' %}

{% load static %}

<!-- main -->
{% block main %}
<div class="col-md-8 mx-auto">
    {% if sent_message is not False %}
        <!-- Confirm message has sent --> 
        <div class="alert alert-warning text-center mx-auto">
            {{ sent_message.text }}
        </div>
        <!---->
    {% endif %}
    <div class="card {{ bg_class }}">
        <div class="card-body">
            <!-- Contact items-->
            <ul class="list-unstyled text-center">
                {% for item in contact_items %}
                    <li>
                        <i class="fa fa-{{ item.logo }} text-danger"></i> {{ item.text }}
                    </li>
                {% endfor %}
            </ul>
            <!---->
            <!-- Contact form -->
            <h5>
                {{ main_titles.title }}
            </h5>
            <form id="contact-form" role="form" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-danger" type="submit">
                    {{ btn_card_text }}
                </button>
            </form>
            <!---->
        </div>
     </div>
</div>
{% endblock %}
<!---->
