{% extends 'websiteapp/base.html' %}

{% load static %}

<!-- main -->
{% block main %}
<div class="col-md-8 mx-auto">
    {% if send_msg is True %}
        <!-- Confirm message has sent --> 
        <div class="alert alert-warning text-center mx-auto">
            {{ confirm_message }}
            </div>
        {% endif %}
    <div class="card {{ bg_class }}">
        <div class="card-body">
            <!-- Contact -->
            <ul class="list-unstyled text-center">
                <li>
                    <i class="fa fa-home text-danger"></i>  3 route du Gers, L.A, CALIFORNIA, USA
                </li>
                <li>
                    <i class="fa fa-envelope text-danger"></i>  email@mail.com
                </li>
                <li>
                    <i class="fa fa-phone text-danger"></i>  01 23 45 67 89
                </li> 
            </ul>
            <!-- Contact form -->
            <h5>
                {{ titles.2 }}
            </h5>
            <form id="contact-form" role="form" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-danger" type="submit">
                    {{ btn_message }}
                </button>
            </form>
        </div>
     </div>
</div>
{% endblock %}
<!-- -->
